@charset "UTF-8";
@import "compass";
@import "setting";
@import "font";
@import "mixin_reset";
@import "mixin_module";
@import "mixin_common";
/* **************************************************
Base
************************************************** */
@include reset;

img {
	max-width:100%;
	height: auto;
}

/* **************************************************
Layout
************************************************** */
.content_wrapper {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	@extend .clearfix;
	.main {
		width: 760px;
		float: left;
	}
	.side {
		width: 335px;
		float: right;
	}
}

.user_info {
	padding:30px;
	border:1px solid #ccc;
	@extend .clearfix;
	.img {
		float: left;
	}
	.content {
		overflow: hidden;
		padding-left: 35px;
	}
}

/* **************************************************
Modules
************************************************** */
@include modules;
@import 'responsive'
